html {
    height: 100%;
    min-height:100%;
}
/* Navbar Section */

#navbar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail image menu sign-in";
}
a, p
    {
        text-decoration: none;
        color: rgb(0,0,0,0.87);
        font-family: Arial, Helvetica, sans-serif;
        font-size:13px;

    }
a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}

#about
{
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#about:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}
#store
{
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#store:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}
#gmail
{
   grid-area: gmail;
   justify-self: center;
   align-self: center;
}
#gmail:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}
#image 
{
    grid-area: image;
    justify-self: center;
    align-self: center;
}
#image:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}
#menu 
{
    grid-area: menu;
    justify-self: center;
    align-self: center;
}
#menu:hover {
    background-color: rgba(128, 128, 128, 0.795);
}
#sign-in
{
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
}
#sign-in:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}
/* Main section */
#main {
    display: grid;
    grid-template-columns: 1f 1fr 1fr;
    grid-template-rows: 250px 70px 70px 250px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". google-text ."

}
#logo                
{
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search 
{
    grid-area: search;
    height: 30px;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 20px;
  
}

#search:focus {

    box-shadow: 1px 1px 1px grey;

}
#search:hover {

    box-shadow: 1px 1px 1px grey;
}
#flexbox
{
    display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
   
}
#google-search-btn 
{
    font-size: 15px;
    color: #5F6368
}
#google-search-btn:hover {
    color: #a19999

}
#google-search-btn:focus {
    color: #a19999
}
#random-search-btn
{ 
    
    font-size: 15px;
    color: #5F6368
}
#random-search-btn:hover {
    color: #a19999

}
#random-search-btn:focus {
    color: #a19999
}
#google-text 
{
    grid-area: google-text;

    justify-self: center;
}


/*Footer Section*/
#footer {
    position: absolute;
    bottom: 10px;
    display: grid;
    grid-template-columns: 100px 100px 150px 1fr 70px 70px 70px;
    grid-template-rows: 50px; 
    grid-template-areas: 
    "advertising business how-search-works . privacy terms settings";
    
}
#advertising    {
    grid-area: advertising;
    justify-self: center;
    align-self: center; 
}
#advertising:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}
#business   {
    grid-area: business;
    justify-self: center;
    align-self: center;
}
#business:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}
#how-search-works   {
    grid-area: how-search-works;
    justify-self: center;
    align-self: center;
}
#how-search-works:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}
#privacy{   
    grid-area: privacy;
    justify-self: center;
    align-self: center;
}
#privacy:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}
#terms  {
    grid-area: terms;
    justify-self: center;
    align-self: center;
}
#terms:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}
#settings   {
    grid-area: settings;
    justify-self: center;
    align-self: center;
}
#settings:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.911);
}